.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name 
        asd
      .top-items__icons
        = link_to "#", class: "top-items__icon1" do
          = icon('far', 'edit')
        = link_to "#", class: "top-items__icon2" do
          = icon('fa', 'cog')
  .side-bar__group-list
    .group-lists
      .group-lists__name
        test
      .group-lists__message
        まだありません
    .group-lists2
      .group-lists__name2
        test2
      .group-lists__message2
        まだない

