* {
  box-sizing: border-box;
}
.wrapper {
  display: flex;
}


.side-bar{
  background-color: #253141;
  height: 100vh;
  width: 300px;
  &__user-name{
    height: 100px;
    width: 100%;
    position: relative;
    &__top-items{
      height: 20px;
      width: 260px;
      position: absolute;
      top: 40px;
      left: 20px;
      color: #ffffff;
      font-size: 16px;
      display: flex;
      justify-content: space-between;
      &__name{
        height: 100%;
        width: 200px;
      }
      &__icons{
        height: 100%;
        width: 60px;
        display: flex;
        justify-content: flex-end;
        &__icon1{
          color: #ffffff;
      }
        &__icon2{
          margin-left: 5px;
          color: #ffffff;
      }
    }
  }
  }
  
  &__group-list{
    height: calc(100vh - 100px);
    width: 100%;
    background-color: #2f3e51;
    padding: 20px 20px 0;
    &__groups{
      height: 45px;
      width: 100%;
      color: #ffffff;
      font-weight: bold;
      margin-bottom: 40px;
      &__group{
        &__name{
          font-size: 15px;
          margin-bottom: 5px;
        }
        &__message{
          font-size: 11px;
        }
        a {
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
}

.chat-main{
  background-color:#ffffff ;
  height: 100vh;
  width: calc(100vw - 300px);
  float: right;
  &__group-info{
    background-color:#ffffff ;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #eeeeee;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    &__leftbox{
      height: 64px;
      width: 83px;
      margin-top: 35px;
        &__current{
          font-size: 20px;
          color: #333333;
          margin-bottom: 15px;
        }
        &__group-users{
          display: flex;
          font-size: 12px;
          color: #999999;
          &__member{
            margin-left: 5px;
          }
        }
    }
    &__edit{
      color: #38aef0;
      padding: 0 20px;
      margin-top: 30px;
      border: solid 1px #38aef0;
      line-height: 40px;
      height: 40px;
      text-decoration: none;
    }
  }
  &__message-list{
    height: calc(100% - 190px);
    width: 100%;
    background-color: #fafafa;
    padding: 46px 40px;
    overflow: scroll;
    &__message{
      padding-bottom: 40px;
      &__upper-info{
        margin-bottom: 10px;
        display: flex;
        &__user{
          font-size: 16px;
          color: #333333;
          font-weight: bold;
        }
        &__datetime{
          font-size: 12px;
          color: #999999;
          margin-left: 10px;
        }
      }
      &__text{
        font-size: 14px;
        color: #434A54;
        margin-bottom: 10px;
      }
    }
  }
  &__form{
    height: 90px;
    width: 100%;
    background-color: #d2d2d2;
    padding: 20px 40px;
    &__new-message{
      display: flex;
      height: 100%;
      width: 100%;
      .submit-btn{
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        color: white;
        cursor: pointer;
      }
      &__input-box{
        display: flex;
        height: 100%;
        width: 100%;
        position: relative;
        &__text{
          height: 100%;
          width: 100%;
          padding: 0 40px 0 10px;
          color: #434a54;
          border-style: none;
        }
        .form__mask{
          &__image{
            font-size: 1.3rem;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            .hidden{
              display: none;
            }
          }
        }
      }
    }
  }
}